{% extends 'ride/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Review
{% endblock %}

{% block body_block %}
</br>
</br>
</br>
{% if user.is_authenticated %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Add a Review to {{service_name_slug.name}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form id="review_form" enctype="multipart/form-data" method="post" action="{% url 'ride:add_review' location service_name_slug.slug %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}</br>
                    {{ field }}</br>
                    <div class="p-2"></div>
                {% endfor %}
                    <br />
                    <button class="btn btn-primary" type="submit" name="submit">
                        Create Review
                    </button>
                    <div class="p-5"></div>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}
