{% extends 'ride/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Review
{% endblock %}

{% block body_block %}
</br>
</br>
</br>
{% if user.is_authenticated %}
    <div>
        <form id="review_form" enctype="multipart/form-data" method="post" action="{% url 'ride:add_review' location service_name_slug.slug %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Create Review" />
        </form>
    </div>
{% endif %}
{% endblock %}
