<!DOCTYPE html>
{% load staticfiles %}
{% load ride_template_tags %} 

<html>
    <head>
        <title>
            Rate My Ride -
            {% block title_block %}
                Rate My Ride
                <img src="{% static 'images/taxi_car.jpg' %}" alt="Picture of Car" />
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <!-- <div>
            {% block sidebar_block %}
                {% get_service_list service %}
            {% endblock %}
        </div> -->
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <!-- Show these links when the user is logged in -->
                    <li><a href="{% url 'ride:restricted' %}">Restricted Page</a></li>
                    <li><a href="{% url 'ride:logout' %}">Logout</a></li>
                    <li><a href="{% url 'ride:add_service' %}">Add New Service</a></li>
                {% else %}
                    <!-- Show these links when the user is NOT logged in -->
                    <li><a href="{% url 'ride:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'ride:login' %}">Login</a></li>
                {% endif %}
                    <!-- Outside the conditional statements, ALWAYS show -->
                    <li><a href="{% url 'ride:glasgow' %}">Glasgow</a></li>
                    <li><a href="{% url 'ride:edinburgh' %}">Edinburgh</a></li>
                    <li><a href="{% url 'ride:aberdeen' %}">Aberdeen</a></li>
                    <li><a href="{% url 'ride:home' %}">Home</a></li>
            </ul>                
        </div>
    </body>
</html>