{% extends 'ride/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Glasgow
{% endblock %}

{% block body_block %}    
    <div>
    {% if services %}
        <h2>Most Liked Services</h2>
        <ul>
            {% for service in services %}
                <li>
                    <a href="{% url 'ride:show_service' service.slug %}">
                        {{ service.name }}
                    </a>
                </li>
                {% endfor %}
        </ul>
    {% else %}
        <strong>There are no services present.</strong>
    {% endif %}
    </div>
    <div>
    {% if reviews %}
        <h2>Most Viewed Reviews</h2>
        <ul>
            {% for review in reviews %}
            <li><a href="{{ review.url }}">{{ review.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no reviews present.</strong>
    {% endif %}
    </div>
    <div>
        <h3>Add Service</h3>
        <a href="/ride/add_service/">Add a New Service</a><br />
    </div>
{% endblock %}
