{% extends 'ride/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Glasgow
{% endblock %}

{% block body_block %}
    </br>
    </br>
    </br>
    <div class= "jumbotro p-4">
        <div class= "w3-container" style="border-bottom: 2px solid rgb(0, 0, 0);" > 
            <div class="row">
                <div class="col">
                    <h1>Glasgow</h1>
                    <div>
                        <h3>Services</h3>
                            {% if services %}
                                <ul>
                                    {% for service in services %}
                                        <li>
                                            <a href="{% url 'ride:show_services' location service.slug %}">
                                            {{ service.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <strong>There are no services present.</strong>
                            {% endif %}
                    </div>
                </div>
                <div class="col p-2">
                    <img src="{% static 'images/map_glasgow.png' %}" alt="image" width="100%" style="max-width: 500px;">
                </div>
            </div>
        </div>
    </div>  
    <div class="container pb-4" style="border-bottom: 2px solid rgb(0, 0, 0);">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6" style="background-color: rgb(201, 218, 248);">
                    <div class="card-body">
                        <h2>Most Viewed Services</h2>
                        <p class="card-text">
                            {% if services %}
                                <ol>
                                    {% for service in viewed_services %}
                                    <li>
                                    <a href="{% url 'ride:show_services' location service.slug %}">
                                        {{ service.name }}
                                    </a>
                                    </li>
                                    {% endfor %}
                                </ol>
                            {% else %}
                                <strong>There are no services present.</strong>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-6" style="background-color: rgb(201, 218, 248);">
                    <div class="card-body">
                        <h2>Most Liked Reviews</h2>
                        <p class="card-text">
                            {% if reviews %}
                                <ul>
                                {% for review in reviews %}
                                    <li>
                                        <a href="{% url 'ride:show_services' location review.serviceID.slug %}">{{ review.title }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <strong>There are no reviews present.</strong>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div>
        <h3>Add Service</h3>
        <!-- <a href="{% url 'ride:add_service' 'glasgow' %}">Add Service</a> -->
        <a href="/ride/{{ location }}/add_service/">Add a New Service</a><br />
    </div>
    {% endif %}
{% endblock %}
