{% extends 'ride/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
    <img src="{% static 'images/taxi_car.jpg' %}" alt="Picture of Car" />
{% endblock %}

{% block body_block %}
    <h1></h1>
    <div>
        {% if user.is_authenticated %}
            hiya {{ user.username }}!
        {% else %}
            hey there!
        {% endif %}
        <br />
        <strong>{{ boldmessage }}</strong>
    </div>
    <div>
        <h2>Locations</h2>
        <a href="/ride/glasgow/">Glasgow</a><br />
        <a href="/ride/edinburgh/">Edinburgh</a><br />
        <a href="/ride/aberdeen/">Aberdeen</a><br />
    </div>
{% endblock %}