{% extends 'ride/base.html' %}

{% load static %}

{% block title_block %}
Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
</br>
</br>
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" class="img-fluid rounded-circle mb-3" width="150" height="150" alt="{{ selected_user.username }}'s profile image" />
                    <p class="card-text"><strong>Username: </strong>{{ selected_user.username }}</p>
                    <p class="card-text"><strong>Email: </strong>{{ selected_user.email }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ selected_user.username }}'s profile</h2>
                    <hr>
                    {% if selected_user == user %}
                        <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" class="btn btn-primary" value="Update" />
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</br>
{% endblock %}