{% extends 'ride/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if service %}
        {{ service.name }}
    {% else %}
        Unknown Service
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if service %}
        <h1>{{ service.name }}</h1>
        {% if reviews %}
        <ul>
            {% for review in reviews %}
                <!-- <li>
                <a href="{% url 'ride:goto' %}?review_id={{ review.id }}">{{ review.title }}</a>
                {% if review.views > 1 %}
                    ({{ review.views }} views)
                {% elif review.views == 1 %}
                    ({{ review.views }} view)
                {% endif %}
                </li> -->
                <!-- <li><a href="{{ review.url }}">{{ review.title }}</a></li> -->
                <li><a href="{{ review.url }}">{{ review.title }}</a></li>
                <form id="like-review-form" action="{% url 'ride:like_review' review.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Like</button>
                </form>
                <script>
                $(document).ready(function() {
                    $('#like-review-form').submit(function(e) {
                        e.preventDefault();
                        $.ajax({
                            type: 'POST',
                            url: $(this).attr('action'),
                            data: $(this).serialize(),
                            success: function(response) {
                            }
                        });
                    });
                });
                </script>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No reviews currently in service.</strong>
        {% endif %}
        
        <a href="{% url 'ride:add_review' location service.slug %}">Add Review</a> <br />
    {% else %}
        The specified service does not exist.
    {% endif %}
{% endblock %}