{% extends 'ride/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if service %}
        {{ service.name }}
    {% else %}
        Unknown Service
    {% endif %}
{% endblock %}

{% block body_block %}
    </br>
    <div class= "jumbotro p-4">
    <div class= "w3-container" style="border-bottom: 2px solid rgb(0, 0, 0);" > 
        <div class="row">
        <div class="col">
        {% if service %}
            <h1>{{ service.name }}</h1>
            <img src="{{ service.logo }}" class="img-fluid" style="width: 50px; height: auto;">
            <h4>{{ service.body }}</h4>
            {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li><a href="{{ review.url }}">{{ review.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No reviews currently in service.</strong>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'ride:add_review' location service.slug %}">Add Review</a> <br />
            {% endif %}
        {% else %}
            The specified service does not exist.
        {% endif %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}