h1 {
    font-size: 16pt;
    font-style: italic;
    text-align: center;
    color:black;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
    background-color:darkseagreen;
}

.sample-list {
    list-style-type: none;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;

}

a {
    color:#FFFFFF;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.inner-row{
    height: 100vh;
}

.primaryBg{
    background: #96c9d4;
}

.primaryColor{
    color:aquamarine;
}
    
        