h1 {
    font-size: 30pt;
    font-style:normal;
    text-align:left;
    color:black;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.middle {
    text-align: center;
}

body {
    /* fallback for old browsers */
    background: #a4c2f4;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(164, 194, 244), rgb(164, 194, 244));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(164, 194, 244), rgb(164, 194, 244));
} 

.right{
    float:right;
    padding: 15PX;
    height: fit-content;
}
.footerdiv{
    display: inline;
    height: fit-content;
}
.left{
    padding: 15px;
    float: left;
    height: fit-content;
}
footer{
    height:41px;
}

.sample-list {
    list-style-type: none;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;

}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.gradient-custom {
    /* fallback for old browsers */
    background: 207, 226, 243;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(207, 226, 243), rgb(207, 226, 243));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(207, 226, 243), rgb(207, 226, 243));
}

.cardcolour {
    background: rgb(74, 134, 232);
}

li {
    color:#333333; 
}

.jumbotron {
    background-color: rgb(201, 218, 248);
}

.nav_title {
    height :max-content;
    background-color: transparent;
    font-size: xx-large;
    color: #333333;
}
